@import "_reset";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@100;600;800&display=swap");

:root {
}

.oneblock {
    text-align: center;
    font-size: 40px;
    padding: 25px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.imgblock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    grid-auto-flow: dense;
    gap: 25px;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}

.twoblock {
    text-align: center;
    font-size: 40px;
    padding: 25px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
